<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>循环</title>
    <script type="text/javascript" src="../vue.min.js"></script>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="site in sites">
                {{site.name}}
            </li>
        </ol>
        <hr/>
        <ol>
            <template v-for="site in sites">
                <li>site.name</li>
                <li>.......</li>
            </template>
        </ol>
        <hr/>
        <ul>
            <!-- v-for 可以通过一个对象的属性来迭代数据,可以提供第二个的参数为键名,第三个参数为索引-->
            <li v-for="(value, key, index) in object">
                {{index}}、{{key}}：{{value}}
            </li>
        </ul>
        <hr/>
        <ul>
            <li v-for="n in 10">
                {{ n }}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data:{
                sites: [
                    {name: "Tian"},
                    {name: "John"},
                    {name: "Mike"}
                ],
                object: {
                    name: "Tian-Blog",
                    url: "www.tian5775.top",
                    remake: "个人博客网站"
                }
            }
        });
    </script>
</body>
</html>